html{
    font-family: sans-serif;
}

h1{
    width:79.7%;
    height:150px;
    margin:0 auto;
    color:white;
    line-height:150px;
    font-size:4.0em;
    text-align:center;
    background-image:url('images/page1/food.jpg');
}

.Table {
    width:80%;
    margin:0 auto;
}

.th{
    background-color:#FFA500;
    color:white;
    font-size:1.1em;
    text-shadow:2px 2px darkgray;
    font-weight:bold;
    background-image:url('images/page1/food.jpg');
}

.column1{
    width:320px;
}

.column3{
    width:130px;
    
}

.column4{
    width:350px;
}

.column5{
    width:120px;
    text-align:center;
}

.column6{
    width:110px;
    text-align:center;
}

tr{
    height:35px;
}

td{
    text-indent:5px; 
}

a{
    color:darkblue;
    font-weight:bold; 
    text-decoration:none;
}

th:nth-child(7){
    display:none;
}

.column7{
    display:none;
}